<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Style.css">
    <style>
/* @import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');


body{
    /* background-color: rgb(1, 146, 146); */
    /* font-family: 'Cairo', sans-serif; */
    font-family: 'Cairo', sans-serif;
    overflow: hidden;
    box-sizing: border-box;
    color: teal;
}

main{
    width: 80%;
    height: 80vh;
    border: 5px solid teal;
    margin: 5% auto;
}

nav{
        text-align: center;

}
a{
    display: inline-block;
    padding: 3px;
    font-weight: bolder;
        color: teal;

}
span{
    /* color: whitesmoke; */
}

#mainContent{
    text-align: left;
    line-height: 20px;
    width: 60%;
    height: 35vh;
    border: 5px solid teal;
    margin: 5% auto;
    padding: 9px;
    /* color: rgb(82, 80, 80); */
}


.button {
  border-radius: 4px;
  background-color: white;
  border: none;
  color: teal;
  text-align: center;
  font-size: 28px;
  padding: 19px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover{
    border: 1px solid teal;
    font-weight: 900;

}

</style>
    <title>ScreenShot Snipet</title>
</head>
<body>
    <main>
        <nav class="main">
            <a href="/"><h1>ScreenShot Snippet <span> || </span></h1></a> 
            <a href="/home"> <h1>Lets go!</h1></a>
        </nav>

        <section>
            <div id="mainContent">
                <h2>Everyday you take ScreenShot thinking you will need them in future.</h2>
                <h3>But when you need them.</h3>
                <h4>Could you find them?</h4>
                <!-- <h3>__ScreenShot Snipet</h3> -->
                <a href="/home" class="button"><span>Try me! </span></a>
            </div>
        </section>
    </main>
    

</body>
</html>